.page404 {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;

	.logo {
		width: 250px;
		display: block;
		margin: 0 auto 25px auto;
	}

	.img404 {
		width: 250px;
		margin: 0 auto 35px auto;
	}

	.text404 {
		max-width: 400px;
		font-size: 15px;
		line-height: 20px;
		margin: 0 auto 40px auto;
	}


	.word404 {
		color: #E7FF00;
		font-size: 36px;
		line-height: 44px;
		text-align: center;
		display: inline-block;
		@include rotate(-20deg);
		font-family: $font-second;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 140px;

		.logo {
			width: 260px;
			margin-bottom: 40px;
		}

		.img404 {
			width: 800px;
			margin-bottom: 60px;
		}

		.text404 {
			font-size: 20px;
			line-height: 28px;
		}
	}
}
