.account-body {

	h1 {
		text-align: center;
	}

	@media (min-width: $screen-md-min) {

		h1 {
			text-align: left;
		}
	}
}

.account-header {
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	background: #1D252E;

	.t-col {
		height: 64px;
		padding-right: 40px;
	}


	.account-toggle {
		top: 70px;
		right: 0;
		width: 30px;
		height: 64px;
		z-index: 999;
		cursor: pointer;
		position: fixed;
		display: inline-block;
	}

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.account-profile {
	top: 0;
	right: 0;
	z-index: 1000;
	position: absolute;
	background: #F6FBFF;
	@include box-shadow(-2px 0px 5px 0px rgba(0, 0, 0, 0.15));

	.ap-header {
		color: #fff;
		background: #1D252E;
		padding: 35px 30px 25px 60px;

		.ap-first-name {
			font-size: 19px;
			line-height: 22px;
		}

		.ap-last-name {
			font-size: 19px;
			line-height: 22px;
			margin-bottom: 10px;
		}

		.ap-company {
			color: #B4B4B4;
			font-size: 14px;
			line-height: 18px;
		}
	}

	.ap-body {
		padding: 40px 35px 25px 35px;
	}

	.ap-divider {
		padding-top: 15px;
		margin-bottom: 30px;
		border-bottom: 1px solid #addafe;
	}

	.ap-nav {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding-right: 20px;
			margin-bottom: 15px;

			a {
				color: #007ED0;
				font-size: 16px;
				line-height: 18px;
				min-height: 20px;
				padding-left: 32px;
				position: relative;
				display: inline-block;
				text-decoration: none;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 24px;
					height: 20px;
					position: absolute;
				}

				&:hover {
					&:before {
					}
				}
			}

			&.item1 {

				a {
					&:before {
						background: url("../img/ap_nav_item_1.svg") 0 0 no-repeat;
					}
				}
			}


			&.item2 {

				a {
					&:before {
						background: url("../img/ap_nav_item_2.svg") 0 0 no-repeat;
					}
				}
			}

			&.item3 {

				a {
					&:before {
						background: url("../img/ap_nav_item_3.svg") 0 0 no-repeat;
					}
				}
			}

			&.item4 {

				a {
					&:before {
						background: url("../img/ap_nav_item_4.svg") 0 0 no-repeat;
					}
				}
			}

			&.item5 {

				a {
					&:before {
						background: url("../img/ap_nav_item_5.svg") 0 0 no-repeat;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		top: auto;
		right: auto;
		display: block;
		position: inherit;
		margin-bottom: 55px;
		@include box-shadow(none);
	}
}

.account-action {
	text-align: center;

	h3 {
		font-size: 29px;
		line-height: 38px;
		margin-bottom: 25px;
	}

	.account-action-slider {
		text-align: left;
		position: relative;
		margin-bottom: 35px;
	}

	.account-action-item {
		border: none;
		outline: none;
		padding-bottom: 15px;
	}

	.account-action-image {
		float: left;
		width: 100px;
		overflow: hidden;
		@include border-radius(3px);
	}


	.account-action-text {
		margin-left: 125px;
	}

	.account-action-date {
		color: #B4B4B4;
		font-size: 12px;
		line-height: 16px;
	}

	h4 {
		color: #007ED0;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;

		a {
			color: #007ED0;
			text-decoration: none;
		}
	}

	p {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 5px;
	}

	@media (min-width: $screen-md-min) {
		text-align: left;

		.account-action-item {
			padding-bottom: 25px;
		}
	}
}

.account {
	background: #fff;
	padding-top: 35px;
	padding-bottom: 55px;

	.account-content-footer {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
	}

	.step-title {
		padding-top: 50px;
		position: relative;
		text-align: center;
		margin-bottom: 10px;

		.step-num {
			top: 0;
			left: 50%;
			width: 40px;
			height: 40px;
			padding: 10px 0;
			font-size: 18px;
			font-weight: 700;
			line-height: 18px;
			text-align: center;
			position: absolute;
			margin-left: -20px;
			border: 1px solid #1D252E;
			@include border-radius(50%);
		}

		span {
			font-size: 18px;
			font-weight: 700;
			line-height: 22px;
		}
	}

	.blue-box {
		text-align: center;
		max-width: 400px;
		font-size: 15px;
		line-height: 18px;
		padding: 25px 25px;
		background: #F6FBFF;
		margin: 0 auto 45px auto;
		@include border-radius(2px);

		p {
			margin-bottom: 20px !important;
		}

		textarea {
			border-color: #8ec4e7;
			margin-bottom: 10px;
		}

		form {
			text-align: center;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 75px;
		padding-bottom: 80px;

		.account-body {
			float: right;
			width: 610px;
		}

		.account-side {
			float: left;
			width: 290px;
		}

		.account-content {
			padding-left: 85px;
		}

		.step-title {
			padding-top: 10px;
			text-align: left;
			max-width: 400px;
			margin-bottom: 25px;

			.step-num {
				left: -85px;
				width: 62px;
				height: 62px;
				margin-left: 0;
				font-size: 35px;
				line-height: 40px;
			}

			span {
				font-size: 23px;
				line-height: 26px;
			}
		}

		.blue-box {
			text-align: left;
			max-width: inherit;
			font-size: 16px;
			line-height: 20px;
			padding: 25px 37px;
			margin-bottom: 75px;

			.file-form {
				color: #007ED0;
				text-align: center;
				border: 1px dotted #007ED0;
				padding: 25px 25px 20px 25px;
			}
		}

		.account-content-footer {
			font-size: 19px;
			line-height: 23px;
			text-align: left;
		}
	}

	@media (min-width: $screen-lg-min) {


		.account-body {
			width: 720px;
		}

		.account-side {
			width: 360px;
		}
	}
}

.account-reg {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 45px;


	.account-form-container {
		max-width: 500px;
		margin: 0 auto;
	}

	h1 {

	}

	.account-submit {
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 125px;
		padding-bottom: 80px;
		background: #201710 url("../img/account_bg.jpg") 50% 0 no-repeat;

		h1 {
			color: #fff;
			text-align: center;
			margin-bottom: 50px;
		}

		.account-form {
			background: #fff;
			margin-bottom: 27px;
			padding: 40px 40px 20px 40px;
		}

		.account-submit {
			text-align: right;
		}
	}
}