* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	margin: 0;
	padding: 0;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.page {
	position: relative;
}


.container {
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: underline;
	}

	&.tel {
		color: #1D252E;
		text-decoration: none;
	}
}

// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	font-weight: 700;
}

h1,
.h1 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 30px;

	@media (min-width: $screen-sm-min) {
		font-size: 45px;
		margin-bottom: 50px;
	}
}


h2,
.h2 {
	font-size: 23px;
	margin-bottom: 20px;

	@media (min-width: $screen-sm-min) {

		font-size: 35px;
		margin-bottom: 30px;
	}
}

h3 {
	font-size: 22px;
	margin-bottom: 30px;
}

p {
	padding: 0;
	margin: 0 0 15px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs {

	.tabs-nav {

		li {

			a {

			}
		}
	}

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.padding-md {
	margin-bottom: 50px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 100px;
	}
}

.margin-sm {
	margin-bottom: 25px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 50px;
	}
}

.container-responsive {
	overflow-y: hidden;
	overflow-x: scroll;
	padding-bottom: 15px;

	@media (min-width: $screen-md-min) {

		overflow-y: hidden;
		overflow-x: hidden;
		padding-bottom: 0;
	}
}


.t-row {
	width: 100%;
	display: table;

	.t-col {
		display: table-cell;
		vertical-align: middle;
	}
}

.pb20 {
	padding-bottom: 20px;
}

.mb50 {
	margin-bottom: 50px;
}

.pb50 {
	padding-bottom: 50px;
}

// tooltip

.btn-tooltip {

	width: 14px;
	height: 14px;
	color: #007ED0;
	padding: 3px 0 0 0;
	cursor: pointer;
	font-size: 10px;
	line-height: 10px;
	text-align: center;

	background: #d9f5ff;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #87ccfe;
	@include border-radius(3px);

	&:hover {
		background: #8ae1fe;
		border-color: #41aefd;
	}
}


#tooltip {
	z-index: 800;
	padding: 20px;
	color: #1D252E;
	font-size: 15px;
	text-align: left;
	line-height: 20px;
	position: absolute;
	background: #d9f5ff;
	border: 1px solid #87ccfe;
	@include border-radius(5px);

	&:after {
		left: 50%;
		bottom: -15px;
		content: '';
		width: 46px;
		height: 15px;
		position: absolute;
		margin-left: -23px;
		background: url("../img/tooltip-arrow.png") 0 -15px no-repeat;
	}

	&.top {

		&:after {
			top: -15px;
			bottom: auto;
			background-position: 0 0;
		}
	}

	&.left {
		&:after {
			left: 10px;
			margin: 0;
		}
	}

	&.right {

		&:after {
			right: 10px;
			left: auto;
			margin: 0;
		}
	}
}



.panel-switch-inner {
	display: none;
	z-index: 600;

	&.open {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		overflow: auto;
		display: block;
		position: fixed;
	}

	@media (min-width: $screen-md-min) {
		display: block;


		&.filter-inner {
			display: block;
		}
	}
}

