.branch {
	font-size: 15px;
	line-height: 20px;
	background: #fff;

	.panel-switch-inner {
	}

	#wmap {
		height: 400px;
	}

	.container {
		position: relative;
	}

	.map-content {
		top: 30px;
		left: 15px;
		z-index: 30;
		max-width: 450px;
		position: absolute;
	}

	.map-list {
		width: 350px;
	}

	.branch-type {
		margin: 0;
		background: #fff;
		padding: 20px 20px 10px 20px;

		.form-checkbox {
			margin-bottom: 10px;
		}
	}

	.branch-title {
		min-height: 36px;
		display: block;
		max-width: 300px;
		background: #fff;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		position: relative;
		list-style: none;
		padding: 5px 20px 0 20px;
		margin: -36px auto 40px auto;

		&:after,
		&:before {
			top: 0;
			z-index: 50;
			content: '';
			width: 20px;
			height: 36px;
			position: absolute;
			background: url("../img/cat_header_text.png") no-repeat;
		}

		&:after {
			left: -20px;
			background-position: 0 0;
		}

		&:before {
			right: -20px;
			background-position: 100% 0;
		}

		li {
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 4px;

			span {
				position: relative;
				padding-right: 20px;
				display: inline-block;

				&:before {
					right: 0;
					top: 50%;
					content: '';
					width: 10px;
					height: 10px;
					margin-top: -5px;
					position: absolute;
					@include border-radius(50%);
				}
			}

			&.branch-title-shop {
				color: #007ED0;

				span {
					&:before {
						background: #007ED0;
					}
				}
			}

			&.branch-title-online {
				color: #9BC018;

				span {
					&:before {
						background: #9BC018;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.panel-switch-inner {
			display: none;
		}

		#wmap {
			height: 650px;
		}

		.map-content {
			top: 55px;
		}

		.branch-type {
			@include border-radius(3px);
			@include box-shadow(1px 1px 8px 0px rgba(0, 0, 0, 0.3));
		}

		.branch-title {
			height: 36px;
			width: 500px;
			max-width: inherit;
			margin: -36px 0 90px 0;


			li {
				margin: 0 20px 0 0;
				display: inline-block;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.map-filter {
	top: 0;
	right: 0;
	width: 280px;
	z-index: 200;
	min-height: 100%;
	padding: 40px 30px 30px 30px;
	margin-left: 300px;
	background: #fff;
	position: absolute;

	.map-toggle {
		top: 45px;
		right: 0;
		width: 27px;
		height: 29px;
		cursor: pointer;
		position: absolute;
		background: #007ED0 url("../img/map-toggle.png") 9px 50% no-repeat;
		@include border-radius(50% 0 0 50%);
	}

	.map-filter-hide {
		top: 10px;
		left: 10px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		background: #007ED0 url("../img/map-toggle.png") 50% 50% no-repeat;
		@include border-radius(50%);
	}

	.map-filter-search {
		margin-bottom: 20px;
	}

	.map-filter-result {
		overflow: hidden;
		position: relative;
	}

	.result-none {
		color: #B4B4B4;
		font-size: 16px;
		line-height: 20px;
		padding-top: 30px;
		text-align: center;
	}

	.result-list {


		ul {
			margin: 0;
			padding: 0;
			overflow-y: auto;
			list-style: none;
			max-height: 270px;
			overflow-x: hidden;
		}

		li {
			color: #007ED0;
			font-size: 16px;
			cursor: pointer;
			line-height: 33px;
		}
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {

	}
}


.btn-toggle {
	top: 40px;
	right: 0;
	width: 29px;
	z-index: 100;
	cursor: pointer;
	position: absolute;
	display: inline-block;

	@media (min-width: $screen-sm-min) {
		display: none;
	}
}


.branch-result {
	padding: 0;
	margin: 0 -15px;
	list-style: none;
	border-top: 1px solid #f0f0f0;

	> li {
		border-bottom: 1px solid #f0f0f0;
	}

	@media (min-width: $screen-md-min) {
		margin: 0;
		width: 100%;
	}
}

.branch-result-text {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: none;
		font-size: 15px;
		line-height: 18px;
		padding: 0 30px 0 35px;

		&.branch-result-name {
			display: block;
			cursor: pointer;
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			position: relative;
			padding: 20px 30px 20px 35px;

			&:before {
				top: 20px;
				left: 15px;
				height: 20px;
				color: #bcbcbc;
				content: "\f107";
				position: absolute;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font: normal normal normal 14px/20px FontAwesome;
			}
		}


		h5 {
			color: #B4B4B4;
			font-size: 15px;
			font-weight: 700;
			line-height: 18px;
			margin-bottom: 5px;
		}
	}

	&.open {

		li {
			display: block;

			&.branch-result-name {
				border-bottom: 1px solid #f0f0f0;

				&:before {
					content: "\f106";
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;

		li {
			font-size: 16px;
			line-height: 20px;
			display: table-cell;
			vertical-align: top;
			padding: 10px 0;

			h5 {
				display: none;
			}

			&.branch-result-name {
				width: 240px;
				padding: 10px 20px 10px 0;

				&:before {
					display: none;
				}
			}

			&:nth-child(2) {
				width: 390px;
			}

			&:nth-child(3) {
				width: 140px;
			}

			&:last-child {
				width: 170px;
			}
		}

		&.open {

			li {
				display: table-cell;

				&.branch-result-name {
					width: 240px;
					border-bottom: none;
					padding: 10px 20px 10px 0;

					&:before {
						display: none;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		li {
			&:nth-child(2) {
				width: 610px;
			}
		}
	}
}

.modal-city {

	h2 {
		margin-bottom: 10px !important;
	}

	h5 {
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 5px;
	}
}

.city-group {
	padding: 0;
	list-style: none;
	margin: 0 0 10px 0;

	li {

		a {
			color: #007ED0;
			font-size: 16px;
			line-height: 20px;

			&:hover {
				color: #9BC018;
				text-decoration: none;
			}
		}
	}
}

