.cat-header {
    height: 220px;
    background: url("../img/header_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .container {
        height: 100%;
        padding-top: 25px;
        position: relative;
    }

    .cat-detail {
        left: 35px;
        bottom: 0;
        height: 36px;
        background: #fff;
        padding: 5px 20px 0 20px;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        display: inline-block;

        &:after,
        &:before {
            top: 0;
            z-index: 50;
            content: '';
            width: 20px;
            height: 36px;
            position: absolute;
            background: url("../img/cat_header_text.png") no-repeat;
        }

        &:after {
            left: -20px;
            background-position: 0 0;
        }

        &:before {
            right: -20px;
            background-position: 100% 0;
        }
    }

    .breadcrumbs {
        margin-bottom: 20px;

        li {
            color: #fff;
            background: url("../img/pagination_arrow_white.png") 100% 50% no-repeat;

            &:last-child {
                background: none;
            }

            a {
                color: #fff;
            }
        }
    }

    .heading {
        position: relative;
        display: inline-block;

        .heading-primary {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            display: inline-block;
        }

        .heading-second {
            top: 80%;
            left: 90%;
            color: #E8FF00;
            font-size: 26px;
            line-height: 30px;
            position: absolute;
            display: inline-block;
            @include rotate(-20deg);
            font-family: $font-second;
        }
    }

    @media (min-width: $screen-sm-min) {
        height: 350px;

        .container {
            padding-top: 45px;
        }

        .heading {

            .heading-primary {
                font-size: 70px;
                line-height: 80px;
            }

            .heading-second {
                font-size: 72px;
                line-height: 80px;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

    }
}


.search-header {
    background: #fff;
}

.filter-header {
    top: 140px;
    right: 0;
    width: 29px;
    cursor: pointer;
    position: fixed;
    display: inline-block;

    @media (min-width: $screen-sm-min) {
        display: none;
    }
}

.top-cat {
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f1f1f1;

    .sort-title {
        float: right;
        color: #1D252E;
        font-size: 16px;
        line-height: 20px;
        margin-right: 10px;
        display: inline-block;
    }

    .sort-by {
        width: 180px;
        float: right;
        font-size: 16px;
        line-height: 20px;
        position: relative;


        .sort-value {
            color: #007ED0;
            display: inline-block;

            i {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .form-search {
        padding: 2px 10px 2px 20px;
        border-bottom-color: transparent;
    }

    .cat-view {
        margin: 0;
        padding: 0;
        font-size: 0;
        float: right;
        line-height: 0;
        list-style: none;

        li {
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-left: 4px;
            display: inline-block;

            svg {
                width: 100%;
            }

            .cls-1 {
                fill: #007ed0;
            }

            &.active {

                .cls-1 {
                    fill: #1d252e;
                }
            }
        }
    }
}

.showcase {

    .showcase-item {
        margin-bottom: 35px;
        padding-bottom: 50px;
        border-bottom: 1px solid #f1f1f1;

        .btn-blue {
            display: none;
        }
    }

    .showcase-image {
        display: block;
        padding-bottom: 10px;
    }

    .showcase-year {
        color: #B4B4B4;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        display: inline-block;
    }

    h4 {
        color: #007ED0;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 25px;

        a {
            color: #007ED0;
            text-decoration: none;
        }
    }

    .showcase-params {
        margin: 0;
        list-style: none;
        padding: 0 0 20px 0;

        li {
            font-size: 15px;
            line-height: 22px;
        }
    }

    .showcase-price {

        .price-value {
            font-size: 20px;
            font-weight: 700;
            line-height: 22px;
        }

        .price-text {
            font-size: 16px;
            line-height: 22px;

            .showcase-quest {
                top: 0;
                right: 0;
                width: 15px;
                height: 22px;
                cursor: pointer;
                position: absolute;
                display: inline-block;
                background: url("../img/icon-quest.png") 0 0 no-repeat;
            }

            span {
                padding-right: 20px;
                position: relative;
                display: inline-block;
            }
        }
    }

    &.showcase-table {

        .showcase-item {

            .showcase-col {

                &.col-one {

                }

                &.col-two {

                }

                &.col-three {

                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        padding: 0;
        margin: 0 -15px;

        .showcase-item {
            float: left;
            width: 33.33%;
            padding: 20px 20px;
            margin-bottom: 30px;
            border: 1px solid transparent;

            &:hover {
                border-color: #1e91d7;
                @include border-radius(3px);
            }
        }


        &.showcase-table {
            width: 100%;
            margin: 0 0 40px 0;

            .showcase-item {
                margin: 0;
                width: 100%;
                float: inherit;
                display: table;
                padding: 40px 0;
                border-bottom: 1px solid #f1f1f1;

                &:hover {
                    border-color: #f1f1f1;
                    border-top-color: transparent;
                }

                &:first-child {

                    &:hover {
                        border-top-color: #f1f1f1;
                    }
                }

                .btn-blue {
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    display: inline-block;
                }

                .showcase-col {
                    vertical-align: top;
                    display: table-cell;

                    &.col-one {
                        width: 240px;
                        padding-right: 45px;
                    }

                    &.col-two {
                        padding-right: 40px;
                    }

                    &.col-three {
                        width: 220px;
                        position: relative;
                    }
                }
            }

            .showcase-image {
                margin-bottom: 0;
            }

            .showcase-year {
                display: none;
            }

            .showcase-params {
                padding-bottom: 0;
            }

            .showcase-price {

                .price-value {
                    width: 100%;
                    display: table-header-group;
                }

                .price-text {
                    width: 100%;
                    display: table-footer-group;
                }
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        &.showcase-table {

            .showcase-item {
                margin: 0;
                width: 100%;
                float: inherit;
                display: table;
                padding: 40px 0;

                .showcase-col {

                    &.col-one {
                        width: 300px;
                        padding-left: 25px;
                        padding-right: 65px;
                    }

                    &.col-two {
                        padding-right: 40px;
                    }

                    &.col-three {
                    }
                }
            }
        }
    }
}

.cat {
    padding-right: 15px;

    .bye-link {
        text-decoration: none;
        line-height: 20px;
        display: inline-block;
        border-bottom: 1px dashed #007ED0;

        &:hover {
        }
    }

    @media (min-width: $screen-sm-min) {

        float: left;
        width: 705px;
        padding-right: 0;
    }

    @media (min-width: $screen-lg-min) {

        width: 860px;
    }
}


// Фильр

.filter {
    right: 0;
    top: 0;
    width: 280px;
    display: block;
    z-index: 100;
    overflow: hidden;
    background: #f5faff;
    position: absolute;
    @include box-shadow(-2px 0px 5px 0px rgba(0, 0, 0, 0.15));

    .filter-top {
        background: #fff;
        padding: 40px 20px;
        position: relative;

        h4 {
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            padding-left: 30px;
            margin-bottom: 20px;
        }

        .filter-sort {
            font-size: 15px;
            line-height: 20px;
            padding-left: 30px;
            margin-bottom: 20px;

            .filter-sort-head {
                display: block;
            }

            .filter-sort-value {
                color: #007ED0;

                i {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        .form-checkbox {

            .icr-text {
                line-height: 18px;
            }
        }

        .filter-close {
            top: 40px;
            right: 20px;
            content: '';
            width: 59px;
            height: 63px;
            cursor: pointer;
            position: absolute;
            background: url("../img/filter-open.png") 0 0 no-repeat;
        }
    }

    .filter-item {
        padding: 20px 20px;
        border-bottom: 1px solid #e0f1fa;

        &.open {

            .filter-title {
                margin-bottom: 20px;

                .filter-name {

                    &:before {
                        content: "\f106";
                    }
                }
            }

            .filter-body {
                display: block;
            }
        }
    }

    .filter-title {
        padding-left: 5px;

        .filter-name {
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            padding-left: 20px;
            position: relative;
            display: inline-block;


            &:before {
                top: 0;
                left: 0;
                height: 20px;
                color: #bcbcbc;
                content: "\f107";
                position: absolute;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font: normal normal normal 14px/20px FontAwesome;
            }
        }
    }

    .filter-body {
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;

        .icr-text {
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding-left: 30px;

            &:before {
                left: 0;
                top: 1px;
                content: '';
                width: 23px;
                height: 20px;
                display: block;
                background: #fff;
                position: absolute;
                border: 1px solid #d5d5d5;
                @include border-radius(2px);
            }
        }

        .checked {

            .icr-text {

                &:before {
                    border-color: #87c6ff;
                    background: #d9f5ff;
                }

                &:after {
                    left: 5px;
                    top: -2px;
                    content: '';
                    width: 20px;
                    height: 20px;
                    display: block;
                    background: url("../img/icon-check.png") 0 0 no-repeat;
                    position: absolute;
                    @include border-radius(2px);
                }
            }
        }

        &.colors {
            width: 190px;
            margin: 0 -2px;
            @include clearfix();

            li {
                font-size: 0;
                line-height: 0;
                display: inline-block;
                margin: 0 2px 5px 2px;
            }

            .icr-text {
                font-size: 0;
                line-height: 0;
                padding-left: 0;
                border: 1px solid #d8d8d8;
                @include border-radius(3px);

                &:before {
                    top: 12px;
                    left: auto;
                    right: -2px;
                    width: 18px;
                    height: 18px;
                    border: none;
                    background: transparent;
                    @include border-radius(50%);
                }
            }

            .checked {

                .icr-text {

                    &:before {
                        background: #f5faff;
                        border-color: transparent;
                    }

                    &:after {
                        width: 18px;
                        left: auto;
                        top: 6px;
                        right: -4px;
                    }
                }
            }
        }

        &.filter-size {
            max-width: 200px;
            margin: 0 -3px;
            @include clearfix();

            li {
                font-size: 0;
                line-height: 0;
                display: inline-block;
                margin: 0 3px 5px 3px;
            }

            .icr-text {
                width: 40px;
                height: 24px;
                color: #007ED0;
                font-size: 15px;
                line-height: 18px;
                padding: 3px 0;
                text-align: center;
                @include border-radius(3px);
                border: 1px solid transparent;

                &:before {
                    display: none !important;
                }
            }

            .checked {

                .icr-text {
                    background: #d9f5ff;
                    border-color: #87c6ff;

                    &:before {
                        display: none !important;
                    }

                    &:after {
                        display: none !important;
                    }
                }
            }
        }

        .icr-label {
            display: block;
            position: relative;
        }

        .icr-hidden {
            display: none;
        }
    }

    .filter-footer {
        margin-top: -1px;
        padding: 20px 20px;
        background: #f5faff;
    }


    @media (min-width: $screen-md-min) {

        top: auto;
        right: auto;
        width: 210px;
        float: right;
        display: block;
        position: inherit;
        @include box-shadow(none);
        @include border-radius(4px);

        .filter-top {
            display: none;
        }
    }

    @media (min-width: $screen-lg-min) {
        width: 260px;
    }
}

.search-detail {
    margin-bottom: 25px;
}

.not-found {
    text-align: center;
    padding-top: 60px;

    .found-title {
        font-size: 30px;
        padding-top: 125px;
        margin-bottom: 30px;
        background: url("../img/icon-search-lg.png") 50% 0 no-repeat;
    }

    p {
        font-size: 19px;
        line-height: 22px;
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 130px;
    }
}

.product-gallery {
    position: relative;
    margin-bottom: 50px;

    .container {
        position: relative;
    }

    .product-image {
        display: block;
        max-width: 768px;
        margin: 0 auto 30px auto;
    }


    .product-color {
        padding: 0;
        margin: 0 -5px;
        list-style: none;

        li {
            float: left;
            width: 35px;
            position: relative;
            margin: 0 5px 5px 5px;

            a {
                position: relative;
                display: inline-block;
                border: 1px solid #D8D8D8;
                @include border-radius(3px);

                &:before {
                    top: 12px;
                    left: auto;
                    right: -2px;
                    width: 18px;
                    height: 18px;
                    border: none;
                    content: '';
                    display: block;
                    position: absolute;
                    background: transparent;
                    @include border-radius(50%);
                }

                &:after {
                    width: 18px;
                    top: 6px;
                    right: -4px;
                    content: '';
                    height: 20px;
                    display: none;
                    background: url("../img/icon-check.png") 0 0 no-repeat;
                    position: absolute;
                    @include border-radius(2px);
                }
            }

            &.active {

                a {

                    &:before {
                        background: #fff;
                    }

                    &:after {
                        display: block;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {
        padding-top: 60px;

        .product-image {
            margin: -60px auto 0 auto;
        }

        .product-color {
            top: 0;
            left: 15px;
            margin: 0;
            width: 35px;
            position: absolute;

            li {
                float: inherit;
                margin: 0 0 5px 0;
            }
        }
    }


    @media (min-width: $screen-lg-min) {

        .product-image {
            max-width: 960px;
        }
    }
}

.product-nav {
    display: none;
    overflow: hidden;
    position: relative;

    li {
        z-index: 50;
        font-size: 15px;
        line-height: 15px;
        position: relative;

        a {
            outline: none;
            display: block;
            background: transparent;
            text-decoration: none;
        }

        span {
            display: block;
        }

        .product-nav-image {
            width: 80px;
            margin-bottom: 10px;
            display: inline-block;
        }

        &:first-child {
            float: left;
            text-align: left;

            .product-nav-image {
                margin-left: 30px;
            }

            span {
                padding-left: 30px;
                background: url("../img/pagination-prev.png") 0 50% no-repeat;
            }
        }

        &:last-child {
            float: right;
            text-align: right;

            .product-nav-image {
                margin-right: 30px;
            }

            span {
                padding-right: 30px;
                background: url("../img/pagination-next.png") 100% 50% no-repeat;
            }
        }


    }


    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.product-description {
    background: #fff;

    .product-buy {
        margin: 0 -15px;
        background: #f5faff;
        padding: 50px 15px;

        .product-price {
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
        }

        .product-price-text {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 25px;

            span {
                position: relative;
                display: inline-block;
            }
        }

        .product-warranty {
            color: #007ED0;
            font-size: 18px;
            line-height: 21px;
            list-style: none;
            margin: 40px 0 0 0;
            padding: 55px 0 0 0;
            position: relative;

            &:before {
                top: 0;
                left: 0;
                content: '';
                width: 87px;
                height: 50px;
                position: absolute;
                background: url("../img/icon-warranty.svg") 0 0 no-repeat;
            }
        }
    }

    .product-detail {
        background: #fff;
        padding: 35px 0;


        ul {
            margin: 0;
            list-style: none;
            line-height: 18px;
            overflow: hidden;
            position: relative;
            padding: 0 0 20px 50px;
            background-position: 0 0;
            background-repeat: no-repeat;

            &:after {
                top: 3px;
                left: 0;
                content: '';
                width: 26px;
                height: 44px;
                position: absolute;
            }

            &.item1 {
              &:after {
                  top: 10px;
                  background: url("../img/product-icons/pi_01.svg") 0 3px no-repeat;
              }
            }
            &.item2 {
                &:after {
                    background: url("../img/product-icons/pi_02.svg") 0 3px no-repeat;
                }
            }
            &.item3 {
                &:after {
                    background: url("../img/product-icons/pi_03.svg") 0 3px no-repeat;
                }
            }
            &.item4 {
                &:after {
                    background: url("../img/product-icons/pi_04.svg") 0 3px no-repeat;
                }
            }
            &.item5 {
                &:after {
                    background: url("../img/product-icons/pi_05.svg") 0 3px no-repeat;
                }
            }
            &.item6 {
                &:after {
                    width: 23px;
                    background: url("../img/product-icons/pi_06.svg") 0 3px no-repeat;
                }
            }
            &.item7 {
                &:after {
                    background: url("../img/product-icons/pi_07.svg") 0 3px no-repeat;
                }
            }
            &.item8 {
                &:after {
                    background: url("../img/product-icons/pi_08.svg") 0 3px no-repeat;
                }
            }
            &.item9 {
                &:after {
                    background: url("../img/product-icons/pi_09.svg") 0 3px no-repeat;
                }
            }
            &.item10 {
                &:after {
                    background: url("../img/product-icons/pi_10.svg") 0 3px no-repeat;
                }
            }
            &.item11 {
                &:after {
                    top: 4px;
                    background: url("../img/product-icons/pi_11.svg") 0 3px no-repeat;
                }
            }
            &.item12 {
                &:after {
                    background: url("../img/product-icons/pi_12.svg") 0 3px no-repeat;
                }
            }
            &.item13 {
                &:after {
                    background: url("../img/product-icons/pi_13.svg") 0 3px no-repeat;
                }
            }
            &.item14 {
                &:after {
                    background: url("../img/product-icons/pi_14.svg") 0 3px no-repeat;
                }
            }
            &.item15 {
                &:after {
                    top: 8px;
                    background: url("../img/product-icons/pi_15.svg") 0 3px no-repeat;
                }
            }
            &.item16 {
                &:after {
                    background: url("../img/product-icons/pi_16.svg") 0 3px no-repeat;
                }
            }
            &.item17 {
                &:after {
                    background: url("../img/product-icons/pi_17.svg") 0 3px no-repeat;
                }
            }
            &.item18 {
                &:after {
                    background: url("../img/product-icons/pi_18.svg") 0 3px no-repeat;
                }
            }
            &.item19 {
                &:after {
                    background: url("../img/product-icons/pi_19.svg") 0 3px no-repeat;
                }
            }
            &.item20 {
                &:after {
                    top: 8px;
                    background: url("../img/product-icons/pi_20.svg") 0 3px no-repeat;
                }
            }
            &.item21 {
                &:after {
                    background: url("../img/product-icons/pi_21.svg") 0 3px no-repeat;
                }
            }
            &.item22 {
                &:after {
                    background: url("../img/product-icons/pi_22.svg") 0 3px no-repeat;
                }
            }

            li {

                &:first-child {
                    font-size: 15px;
                }

                &:last-child {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }


        .product-detail-hide {
            display: none;
        }

        .btn-blue {
            float: left;
            margin-right: 5px;
            margin-bottom: 10px;
        }
    }

    @media (min-width: $screen-md-min) {

        padding-top: 100px;
        padding-bottom: 65px;
        background: #f5faff;

        .product-buy {
            margin: 0;
            padding: 0;
            float: right;
            width: 290px;

            .product-price {
                font-size: 50px;
                font-weight: 700;
                line-height: 60px;
            }

            .product-price-text {
                margin-bottom: 30px;
            }

            .product-warranty {
                margin-top: 80px;
            }
        }


        .product-detail {
            padding: 0;
            float: left;
            width: 620px;
            background: transparent;

            ul {
                width: 100%;
                display: table;
                padding-bottom: 0;

                span {
                    font-size: 19px;
                    line-height: 21px;
                    padding-right: 4px;
                    display: inline-block;
                    background: #f5faff;
                }
            }


            li {
                padding: 10px 0;
                display: table-cell;
                vertical-align: middle;

                &:first-child {
                    width: 267px;
                    font-size: 19px;
                    background: url("../img/detail-line.png") 0 26px repeat-x;
                }

                &:last-child {
                    font-size: 19px;
                    font-weight: 400;
                    padding-left: 4px;
                }
            }

            .btn-group {
                padding-top: 35px;
            }

            .btn-detail {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        .product-buy {
            width: 375px;
        }

        .product-detail {
            width: 680px;

            li {
                width: 300px;
            }
        }
    }
}

.product-introtext {
    background: #fff;

    .product-text {
        font-size: 15px;
        line-height: 20px;

        p {
            margin-bottom: 20px;
        }

        .product-text-more {
            color: #007ED0;
            text-decoration: none;
            border-bottom: 1px dotted #007ED0;

            &:hover {
                border-bottom-color: transparent;
            }
        }
    }


    .friends {
        text-align: center;
        padding-top: 90px;
        background: url("../img/like-bg.svg") 50% 0 no-repeat;

        .friends-text {
            color: #9BC018;
            font-size: 25px;
            line-height: 45px;
            margin-top: 20px;
            margin-left: 20px;
            padding-left: 60px;
            padding-bottom: 30px;
            display: inline-block;
            font-family: $font-second;
            background: url("../img/friends-text-arrow.png") 0 0 no-repeat;

            span {
                display: inline-block;
                @include rotate(-10deg);
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 70px;
        padding-bottom: 40px;

        .product-text {
            font-size: 19px;
            line-height: 26px;
            padding-top: 20px;
        }

        .friends {

            .friends-text {
                margin-left: 70px;
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .friends {
            margin-top: -20px;
            padding-top: 110px;

            .friends-text {
                font-size: 33px;
                margin-left: 30%;
            }
        }
    }
}

.product-like {
    padding-top: 50px;
    background: #fff;
}

.product-row {
    position: relative;

    .product-col {
        outline: none;
        margin-right: 1px;
        border: 1px solid #fff;
        padding: 15px 15px;
        position: relative;

        &:hover {
            border-color: #ededed;
        }

        > a {
            outline: none;
            display: block;
            text-decoration: none;
        }
    }

    .product-image {
        display: block;
        padding-bottom: 10px;
    }

    .product-year {
        color: #B4B4B4;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        display: inline-block;
    }

    h4 {
        color: #007ED0;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 25px;

        a {
            color: #007ED0;
            text-decoration: none;
        }
    }

    .product-price {

        .price-value {
            font-size: 20px;
            font-weight: 700;
            line-height: 22px;
        }

        .price-text {
            font-size: 16px;
            line-height: 22px;

            .showcase-quest {
                top: 0;
                right: 0;
                width: 15px;
                height: 22px;
                cursor: pointer;
                position: absolute;
                display: inline-block;
                background: url("../img/icon-quest.png") 0 0 no-repeat;
            }

            span {
                padding-right: 20px;
                position: relative;
                display: inline-block;
            }
        }
    }
}

