.contact {
	position: relative;

	.container {
		z-index: 20;
		position: relative;
	}

	#contact-map {
		z-index: 10;
		height: 300px;
	}

	.content-top {
		left: 15px;
		right: 15px;
		top: 55px;
		z-index: 50;
		position: absolute;
	}

	@media (min-width: $screen-md-min) {

		#contact-map {
			height: 600px;
		}

		.content-top {
			top: 60px;
		}
	}
}

.contacts {
	font-size: 15px;
	line-height: 20px;
	background: #fff;
	padding: 40px 0;

	.tabs-nav {
		padding: 0;
		list-style: none;
		margin: 0 -10px 25px -10px;

		li {
			float: left;
			padding: 0 10px 10px 10px;

			a {
				color: #007ED0;
				font-size: 18px;
				line-height: 18px;
				text-decoration: none;
				border-bottom: 1px dashed #007ED0;
			}

			&.active {

				a {
					color: #000000;
					text-decoration: none;
					border-bottom-color: transparent;
				}
			}
		}
	}

	.address {
		margin-bottom: 20px;


		a {
			color: #1D252E;
			text-decoration: none;
		}
	}

	.worktime {
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {
		left: 15px;
		right: 15px;
		top: -300px;
		font-size: 19px;
		line-height: 30px;
		padding: 40px 45px 20px 45px;
		position: absolute;

		.tabs-nav {
			margin-bottom: 30px;

			li {

				a {
					font-size: 23px;
					line-height: 23px;
				}
			}
		}
	}
}

.people {
	color: #000;
	font-size: 16px;
	line-height: 23px;
	position: relative;
	max-width: 280px;
	margin: 0 auto;

	.people-item {
		border: none;
		outline: none;
		text-align: center;
	}

	.people-image {
		width: 160px;
		height: 160px;
		overflow: hidden;
		margin: 0 auto 20px auto;
		@include border-radius(50%);
	}

	.people-name {
		font-size: 23px;
		line-height: 27px;
	}

	.people-position {
		font-size: 16px;
		line-height: 20px;
		min-height: 40px;
		margin-bottom: 20px;
	}

	.tel {
		color: #000;
	}

	.slick-dots {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;

		.people-item {
			text-align: left;
			padding-right: 20px;
		}

		.people-image {
			margin: 0 0 20px 0;
		}
	}
}