// Дилерам

.header-dealer {
	color: #fff;
	padding-top: 45px;
	position: relative;
	padding-bottom: 45px;
	background: #221e1f url("../img/header-dealers.jpg") 50% 0 no-repeat;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		content: '';
		position: absolute;
		background: rgba(0,0,0, 0.5);
	}

	.container {
		z-index: 20;
		position: relative;
	}

	.h1 {
		max-width: 280px;
		margin-bottom: 50px;
	}

	.dealer-form {
		margin-bottom: 50px;
	}

	.dealer-form-header {
		font-size: 29px;
		font-weight: 700;
		line-height: 38px;
		margin-bottom: 20px;
	}

	.dealer-advantage {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			color: #fff;
			margin-bottom: 20px;
		}

		.legend {
			font-size: 15px;
			line-height: 20px;
		}

		.value {
			font-size: 25px;
			font-weight: 700;
			line-height: 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		height: 800px;
		padding-top: 110px;

		&:before {
			display: none;
		}

		.h1 {
			max-width: 600px;
			margin-bottom: 120px;
		}

		.dealer-form {
			margin-bottom: 160px;
		}

		.dealer-advantage {

			li {
				float: left;
				width: 33.33%;
			}


			.legend {
				font-size: 18px;
				line-height: 25px;
			}

			.value {
				font-size: 35px;
				line-height: 45px;
			}
		}
	}
}

.dealers-features {
	position: relative;

	.features-item {
		border: none;
		outline: none;
	}

	.features-image {
		max-width: 170px;
		margin: 0 auto 20px auto;
	}

	.features-text {
		font-size: 19px;
		line-height: 23px;
		text-align: center;
	}
}

.section-dealer-one {
	background: #F6FBFF;
	padding-top: 40px;
	padding-bottom: 40px;

	@media (min-width: $screen-md-min) {
		padding-top: 90px;
		padding-bottom: 130px;
	}
}

.section-dealer-two {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 40px;

	h1,
	.h1 {
		max-width: 600px;
		margin: 0 auto 20px auto;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 90px;
		padding-bottom: 130px;

		h1,
		.h1 {
			margin-bottom: 100px;
		}
	}
}

.section-dealer-three {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 70px;

	h1,
	.h1 {
		max-width: 760px;
		margin: 0 auto 50px auto;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 120px;
		padding-bottom: 130px;

		h1,
		.h1 {
			margin-bottom: 100px;
		}
	}
}

.section-dealer-four {
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	padding-top: 40px;
	position: relative;
	padding-bottom: 10px;
	background: url("../img/section-dealers-four.jpg") 50% 0 no-repeat;


	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		content: '';
		position: absolute;
		background: rgba(0,0,0, 0.5);
	}

	.container {
		z-index: 40;
		position: relative;
	}

	.inner {
		max-width: 440px;
	}

	p {
		margin-bottom: 40px;
	}

	@media (min-width: $screen-md-min) {
		height: 700px;
		font-size: 20px;
		line-height: 24px;
		padding-top: 100px;

		&:before {
			display: none;
		}

		p {
			margin-bottom: 60px;
		}
	}
}

.section-dealer-five {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 50px;

	@media (min-width: $screen-md-min) {
		padding-top: 140px;
		padding-bottom: 70px;

		h1, .h1 {
			margin-bottom: 50px;
		}
	}
}

.section-dealer-six {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;

	h1, .h1 {
		max-width: 650px;
		margin: 0 auto 30px auto;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 70px;

		h1, .h1 {
			margin-bottom: 50px;
		}
	}
}

.section-dealer-seven {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;


	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 70px;

		h2, .h2 {
			padding-top: 20px;
			margin-bottom: 40px;
		}
	}
}

.section-dealer-eight {
	padding-top: 40px;
	padding-bottom: 50px;
	background: url("../img/pattern_one.jpg");

	.rows {
		padding: 0;
		max-width: 300px;
		list-style: none;
		margin:  0 auto 20px auto;
	}

	.list-check {
		padding: 0;
		max-width: 430px;
		list-style: none;
		margin: 0 0 10px 0;

		li {
			font-size: 15px;
			line-height: 18px;
			padding-left: 40px;
			padding-bottom: 20px;
			background: url("../img/icon-check-green.png") 0 0 no-repeat;
		}
	}

	.text-box {
		max-width: 430px;
		font-size: 18px;
		line-height: 21px;
		padding: 20px 25px;
		background: #F6FBFF;
	}


	@media (min-width: $screen-md-min) {
		padding-top: 100px;
		padding-bottom: 120px;

		h1, .h1 {
			margin-bottom: 0;
		}

		.rows {
			max-width: inherit;
			margin: 0 -15px 20px -15px;

			> li {
				width: 50%;

				&:first-child {
					float: right;
				}

				&:last-child {
					float: left;
				}
			}
		}

		.list-check {
			padding-top: 70px;

			li {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
}

.dealers-coin {
	margin-bottom: 60px;
	position: relative;

	.coin-item {
		border: none;
		outline: none;
	}

	.coin-item-inner {
		margin: 0 auto;
		max-width: 300px;
	}

	.coin-header {
		width: 270px;
		padding-top: 80px;
		min-height: 150px;
		font-weight: 700;
		margin-bottom: 5px;

		&.item1 {
			width: 240px;
			background: url("../img/icon_coin_01.png") 100% 0 no-repeat;
		}

		&.item2 {
			width: 250px;
			background: url("../img/icon_coin_02.png") 100% 0 no-repeat;
		}

		&.item3 {
			background: url("../img/icon_coin_03.png") 100% 0 no-repeat;
		}

		.coin-value {
			font-size: 30px;

			line-height: 40px;
		}

		.coin-legend {
			width: 120px;
			font-size: 18px;
			line-height: 18px;
		}
	}

	p {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 0;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 80px;

		.coin-header {
			padding-top: 80px;

			.coin-value {
				font-size: 60px;
				line-height: 72px;

			}

			.coin-legend {
				width: auto;
				font-size: 23px;
				line-height: 27px;
			}
		}
	}
}

.dealers-money {
	max-width: 900px;
	margin: 0 auto;
	position: relative;

	.money-item {
		border: none;
		outline: none;
	}

	.money-item-inner {
		margin: 0 auto;
		max-width: 300px;
	}

	.money-header {
		width: 220px;
		min-height: 100px;
		font-weight: 700;
		margin-bottom: 5px;

		&.item1 {
			background: url("../img/icon_money_01.png") 100% 0 no-repeat;
		}

		&.item2 {
			background: url("../img/icon_money_02.png") 100% 0 no-repeat;
		}

		.money-value {
			font-size: 30px;
			line-height: 40px;
		}

		.money-legend {
			width: 120px;
			font-size: 18px;
			line-height: 18px;
		}
	}

	p {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 0;
	}

	@media (min-width: $screen-md-min) {

		.money-item-inner {
			max-width: 360px;
		}

		.money-header {
			width: auto;
			margin-bottom: 10px;

			.money-value {
				font-size: 60px;
				line-height: 72px;

			}

			.money-legend {
				width: auto;
				font-size: 23px;
				line-height: 27px;
			}
		}
	}
}

.refund {
	max-width: 524px;
	margin: 0 auto;

	.refund-image {
		padding-left: 10px;

		li {
			width: 50%;
			float: left;
			padding: 0 15px;

			&:first-child {
				display: none;
			}
		}
	}


	.refund-text {
		list-style: none;
		padding-top: 20px;
		padding-left: 10px;
		border-top: 1px solid #b3b3b3;

		li {
			width: 50%;
			float: left;
			padding: 0 15px;
			font-size: 20px;
			line-height: 24px;


			&:first-child {
				display: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		max-width: 900px;

		.refund-image {
			padding-left: 40px;


			li {
				width: 33.33%;

				&:first-child {
					display: block;
				}
			}
		}

		.refund-text {
			padding-left: 40px;

			li {
				width: 33.33%;

				&:first-child {
					display: block;
				}
			}
		}
	}
}


.risk {

	.risk-item {
		border: none;
		outline: none;
		padding: 0 30px;
	}

	.risk-number {
		color: #007ED0;
		font-size: 60px;
		font-weight: 700;
		line-height: 72px;
		text-align: center;
	}

	.risk-title {
		color: #007ED0;
		font-size: 22px;
		font-weight: 700;
		line-height: 26px;
		margin-bottom: 20px;
		text-align: center;
	}

	p {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
	}

	small {
		color: #B4B4B4;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {

		.risk-number {
			font-size: 100px;
			line-height: 120px;
		}

		.risk-title {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 30px;
		}

		p {
			font-size: 20px;
			line-height: 24px;
			text-align: left;
		}

		small {
			font-size: 16px;
			line-height: 20px;
			text-align: left;
		}
	}
}

.who {
	margin: 0 auto;
	max-width: 300px;

	.who-item {
		border: none;
		outline: none;
		padding: 0 0 15px 0;
	}

	.who-image {
		margin-bottom: 15px;
	}

	p {
		font-size: 15px;
		line-height: 18px;
	}

	@media (min-width: $screen-md-min) {

		max-width: inherit;

		.who-item {
			padding: 0 15px 15px 15px;
		}

		.who-image {
			margin-bottom: 25px;
		}

		p {
			font-size: 19px;
			line-height: 22px;
		}
	}
}
