@font-face {
    font-family:'Circe';
    src: url('../fonts/Circe-Light/Circe-Light_gdi.eot');
    src: url('../fonts/Circe-Light/Circe-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light/Circe-Light_gdi.woff') format('woff'),
    url('../fonts/Circe-Light/Circe-Light_gdi.ttf') format('truetype'),
    url('../fonts/Circe-Light/Circe-Light_gdi.svg#Circe-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Circe';
    src: url('../fonts/Circe-Regular/Circe-Regular_gdi.eot');
    src: url('../fonts/Circe-Regular/Circe-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular/Circe-Regular_gdi.woff') format('woff'),
    url('../fonts/Circe-Regular/Circe-Regular_gdi.ttf') format('truetype'),
    url('../fonts/Circe-Regular/Circe-Regular_gdi.svg#Circe-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Circe';
    src: url('../fonts/Circe-Bold/Circe-Bold_gdi.eot');
    src: url('../fonts/Circe-Bold/Circe-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold/Circe-Bold_gdi.woff') format('woff'),
    url('../fonts/Circe-Bold/Circe-Bold_gdi.ttf') format('truetype'),
    url('../fonts/Circe-Bold/Circe-Bold_gdi.svg#Circe-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Fonjava';
    src: url('../fonts/Fonjava/Fonjava_gdi.eot');
    src: url('../fonts/Fonjava/Fonjava_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fonjava/Fonjava_gdi.woff') format('woff'),
    url('../fonts/Fonjava/Fonjava_gdi.ttf') format('truetype'),
    url('../fonts/Fonjava/Fonjava_gdi.svg#Fonjava-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FD;
}