.footer {
    background: #fff;
    padding-top: 110px;
    padding-bottom: 55px;
    border-top: 1px solid #D4D4D4;

    .footer-first {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        > li {

        }


        .footer-logo {
            width: 180px;
            display: block;
            margin: 0 auto 45px auto;

            img {
                width: 100%;
            }
        }

        .footer-copy {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .footer-contact {
            font-size: 19px;

            a {
                color: #1D252E;
                text-decoration: none;
            }
        }

        .footer-mail {
            margin-bottom: 30px;
        }

        .footer-slogan {
            font-size: 15px;
            margin-bottom: 15px;
        }

        .footer-social {
            padding: 0;
            margin: 0 -5px;
            font-size: 0;
            line-height: 0;
            list-style: none;

            li {
                width: 40px;
                height: 40px;
                margin: 0 5px;
                display: inline-block;

                a {
                    width: 40px;
                    height: 40px;
                    color: #fff;
                    font-size: 22px;
                    line-height: 22px;
                    background: #1D252E;
                    padding: 8px 0;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid #1D252E;
                    @include border-radius(50%);

                    &:hover {
                        color: #fff;
                        background: #007ED0;
                        border-color: #007ED0;
                    }
                }
            }
        }
    }

    .footer-nav {
        padding: 0;
        list-style: none;
        margin: 0 0 10px 0;

        li {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;

            &:first-child {
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
            }

            a {
                color: #1D252E;
                text-decoration: none;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom-color: #64686d;
                }
            }
        }
    }


    @media (min-width: $screen-md-min) {

        .footer-first {
            padding-left: 40px;
            text-align: left;

            .footer-logo {
                width: 260px;
                margin: 0 0 15px -40px;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

    }
}