.help-height {
	margin-bottom: 80px;

	.help-height-image {
		max-width: 425px;
		margin-bottom: 45px;
	}

	.help-height-text {
		font-size: 15px;
		line-height: 20px;
	}


	@media (min-width: $screen-md-min) {
		margin-bottom: 150px;

		.help-height-image {
			margin-bottom: 0;
		}

		.help-height-text {
			font-size: 19px;
			line-height: 26px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.help-height-text {
			margin-left: 90px;
		}
	}
}

.help-nav {
	margin: 0;
	list-style: none;
	padding: 0 0 35px 0;

	> li {
		margin-bottom: 15px;

		> a {
			outline: none;
			color: #007ed0;
			font-size: 18px;
			line-height: 18px;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px dashed #007ed0;

			&:hover {
				border-bottom-color: transparent;
			}
		}

		&.active {

			> a {
				color: #b4b4b4;
				border-bottom-color: transparent;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-left: -15px;
		margin-right: -15px;
		padding-bottom: 85px;

		li {
			padding: 0 15px;
			display: inline-block;
		}
	}
}

.help-content {
	width: 940px;

	table {
		width: 100%;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 50px;

		tr {
			border-bottom: 1px solid #f5faff;

			&:last-child {
				border-bottom: none;
			}

			th {
				padding: 15px 0;
				text-align: left;
				font-weight: normal;
				vertical-align: middle;
			}

			td {
				padding: 15px 0;
				text-align: center;
				vertical-align: middle;
				border-right: 1px solid #f5faff;

				&:first-child {
					border-right: none;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
	}
}


.construction {

	.construction-filter {

		ul {
			margin: 0;
			padding: 25px 30px;
			background: #f6fbff;

			li {
				font-size: 16px;
				line-height: 26px;

				a {
					color: #007ed0;
					text-decoration: none;
				}

				&.active {

					a {
						color: #1d252e;
					}
				}
			}
		}
	}

	.construction-image {
		padding: 0;
		max-width: 500px;
		list-style: none;
		margin-bottom: 60px;

		> li {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.construction-description {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.construction-gallery {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		.construction-filter {
			float: right;
			width: 210px;
		}

		.construction-content {
			float: left;
			width: 700px;
		}

		.construction-gallery {
			display: block;
			margin: 0 -4px;
			list-style: none;
			padding: 30px 0 0 0;

			> li {
				float: left;
				width: 25%;
				padding: 0 4px;

				span {
					display: block;
					border: 1px solid #e7e7e7;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.construction-filter {

			width: 260px;
		}

		.construction-content {
			width: 860px;
		}
	}
}