.topnav {
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid #D4D4D4;

    .topnav-header {
        margin: 0 -15px;
        padding: 15px 15px;

        .logo {
            float: left;
            width: 183px;
            display: block;

            img {
                width: 100%;
            }
        }


        .navbar-toggle {
            color: #000;
            height: 40px;
            float: right;
            padding: 5px 0;
            cursor: pointer;
            font-size: 30px;
            line-height: 30px;
            text-align: center;
            background: transparent;
        }
    }

    .navbar {
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        display: none;
        background: #fff;
        position: absolute;
        padding: 0 0 0 55px;

    }

    .navbar-header {
        margin: 0 0 25px -55px;
        padding: 20px 15px;
        list-style: none;
        @include box-shadow(0px 0px 6px 0px rgba(50, 50, 50, 0.2));


        li {

            &.navbar-back {
                float: left;
                width: 24px;
                height: 30px;
                cursor: pointer;
                margin-right: 16px;

                span {
                    width: 24px;
                    height: 30px;
                    display: none;
                    background: url("../img/icon-nav-back.png") 0 50% no-repeat;
                }

                &.active {

                    span {
                        display: block;
                    }
                }
            }

            &.navbar-name {
                float: left;
                height: 30px;
                color: #B5B5B5;
                font-size: 14px;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
            }

            &.navbar-close {
                float: right;
                width: 24px;
                height: 30px;
                cursor: pointer;
                background: url("../img/icon-nav-close.png") 50% 50% no-repeat;
            }
        }
    }

    .nav {
        padding: 0;
        list-style: none;
        margin: 0 0 0 0;

        > li {

            &.dropdown {
                position: relative;
            }

            > a {
                width: 100%;
                color: #1D252E;
                font-size: 14px;
                padding: 10px 0;
                font-weight: 700;
                line-height: 20px;
                position: relative;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: #9BC018;
                }
            }

            &.active {

                > a {
                    &:before {
                        top: 11px;
                        left: -20px;
                        color: #1D252E;
                        font-size: 14px;
                        content: "\f0c9";
                        line-height: 14px;
                        font-family: FontAwesome;
                        position: absolute;
                    }

                    &:hover {
                        &:before {
                            color: #9BC018;
                        }
                    }
                }
            }

            &:last-child {
                padding-top: 12px;

                a {
                    color: #fff;
                    width: auto;
                    padding: 3px 18px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 26px;
                    text-transform: uppercase;
                }
            }

            &.open {

                .subnav {
                    display: block;
                }
            }
        }

        &.sub-open {

            > li {
                display: none;

                &.open {
                    display: block;

                    > a {
                        display: none;
                    }
                }
            }
        }
    }

    .subnav {
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;

        > li {

            > a {
                width: 100%;
                color: #1D252E;
                font-size: 14px;
                padding: 10px 0;
                font-weight: 700;
                line-height: 20px;
                position: relative;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: #9BC018;
                }
            }

            &.active {

                a {
                    &:before {
                        top: 9px;
                        left: -20px;
                        color: #1D252E;
                        font-size: 14px;
                        content: "\f0c9";
                        line-height: 20px;
                        font-family: FontAwesome;
                        position: absolute;
                    }
                }
            }
        }
    }

    .subnav-bike {
        margin-left: -55px;
        background: #fff;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            > li {
                padding: 0 30px;
                max-width: 320px;
                margin: 0 auto 40px auto;

                &:last-child {
                    margin-bottom: 0;
                }

                .nav-bike {
                    margin-bottom: 10px;

                    img {
                        @include img-responsive(inline-block);
                    }
                }

                > a {
                    width: 100%;
                    color: #1D252E;
                    display: block;
                    font-size: 11px;
                    font-weight: 700;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: #007ED0;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .second-nav {
        padding: 30px 0 40px 55px;
        margin: 40px 0 0 -55px;
        border-top: 1px solid #D4D4D4;
        border-bottom: 1px solid #D4D4D4;

        a {
            color: #007ED0;
            font-size: 15px;
            line-height: 20px;
            text-decoration: none;
        }

        .navbar-contact {

            a {
                color: #1D252E;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            margin: 0 0 20px 0;
        }

        li {
            margin-left: -30px;

            a {
                display: inline-block;
                padding: 5px 0 5px 30px;
                background: url("../img/icon-download.png") 0 50% no-repeat;
            }

            &:last-child {

                a {
                    background: none;
                }
            }
        }
    }


    @media (min-width: $screen-md-min) {
        padding: 15px 0;

        .topnav-header {
            margin: 0;
            padding: 0;
            float: left;
            @include box-shadow(none);

            .logo {
                float: left;

            }

            .navbar-toggle {
                display: none;
            }
        }

        .navbar {
            top: auto;
            left: auto;
            margin: 0;
            padding: 0;
            width: auto;
            float: right;
            display: block;
            position: inherit;
            border-bottom: none;
        }

        .navbar-header {
            display: none;
        }

        .nav {
            float: left;
            margin-bottom: 0;
            margin-right: 15px;

            > li {
                float: left;
                margin: 0 12px;

                &.dropdown {

                    .subnav {
                        border: 1px solid #dadada;
                    }
                }

                > a {
                    position: relative;
                }

                &:last-child {
                    padding-top: 0;
                }

                &.open {

                    > a {

                        &:after {
                            left: 50%;
                            top: 46px;
                            width: 19px;
                            height: 10px;
                            content: ' ';
                            z-index: 200;
                            margin-left: -10px;
                            position: absolute;
                            background: url("../img/nav-open.png") 0 0 no-repeat;
                        }
                    }
                }
            }


            &.sub-open {

                > li {
                    display: block;

                    &.open {
                        display: block;


                        > a {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .subnav {
            margin: 0;
            padding: 15px;
            top: 55px;
            left: -15px;
            display: none;
            z-index: 100;
            list-style: none;
            position: absolute;
            background: #fff;
            border-top: 1px solid #dadada;

            > li {

                > a {
                    width: 100%;
                    color: #1D252E;
                    font-size: 14px;
                    padding: 10px 0;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    white-space: nowrap;
                    text-transform: uppercase;
                }

                &.active {

                    a {
                        &:before {
                            top: 9px;
                            left: -20px;
                            color: #1D252E;
                            font-size: 14px;
                            content: "\f0c9";
                            line-height: 20px;
                            font-family: FontAwesome;
                            position: absolute;
                        }
                    }
                }
            }
        }


        .subnav-bike {
            left: 0;
            right: 0;
            top: 70px;
            margin-left: 0;
            background: #fff;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                > li {
                    margin: 0;
                    width: 25%;
                    float: left;
                    padding: 0 25px;
                    max-width: 320px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .nav-bike {
                        margin-bottom: 10px;
                    }

                    > a {
                        font-size: 14px;

                    }
                }
            }
        }

        .second-nav {
            display: none;
        }
    }

    @media (min-width: $screen-lg-min) {

    }
}
