.main {
    padding: 40px 0 60px 0;
    background: #fff;
	font-size: 15px;
	line-height: 18px;


	@media (min-width: $screen-md-min) {
	    font-size: 19px;
	    line-height: 23px;
        position: relative;
    }
}

.content {
	max-width: 860px;
	font-size: 15px;
	line-height: 20px;

	@media (min-width: $screen-sm-min) {
		font-size: 19px;
		line-height: 26px;
	}
}


.rows {
    position: relative;
}

.promo-block {
    height: 270px;
    padding-top: 50px;
    text-align: center;
    background: url("../img/promo-image-01.jpg") 50% 50% no-repeat;
    background-size: cover;

    .promo-text {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 20px;
    }

    @media (min-width: $screen-sm-min) {
        height: 360px;
        padding-top: 70px;
        text-align: left;

        .promo-text {
            font-size: 35px;
            line-height: 42px;
            margin-bottom: 35px;
        }
    }
}

.wrapper-dropdown {
    outline: none;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    color: #007ED0;
    background: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;

    i {
        font-size: 12px;
        line-height: 20px;
        margin-left: 5px;
    }

    .list-dropdown {
        top: 40px;
        left: 0;
        right: 0;
        z-index: 200;
        position: absolute;
        opacity: 0;
        padding: 15px 20px;
        background: #fff;
        font-weight: normal;
        pointer-events: none;
        @include box-shadow(1px 1px 8px 0px rgba(50, 50, 50, 0.3));

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        span {
            color: #B4B4B4;
            margin-bottom: 10px;
            display: inline-block;
        }

        li {
            font-size: 15px;
            line-height: 20px;

            a {
                width: 100%;
                color: #007ED0;
                padding: 5px 0;
                display: inline-block;
                text-decoration: none;
            }
        }
    }

    &.active {

        .list-dropdown  {
            opacity: 1;
            pointer-events: auto;
        }
    }
}


// Модальное окно поделиться


.modal {
    background: #fff;
	min-width: 280px;

	.modal-header {
		height: 80px;
		color: #B5B5B5;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		padding: 20px 20px 0 20px;
		@include box-shadow(0px 1px 6px 0px rgba(0, 0, 0, 0.2))
	}

    .modal-border {
        padding: 25px 35px;
        position: relative;
        margin: 0 auto 35px auto;
        border: 1px solid #e1e1e1;
        @include border-radius(3px);

        &:before {
            top: 100%;
            left: 50%;
            content: '';
            width: 36px;
            height: 15px;
            margin-left: -18px;
            position: absolute;
            background: url("../img/like-border.png") 0 0 no-repeat;
        }
    }

	.modal-body {
		font-size: 15px;
		line-height: 20px;
		padding: 30px 20px 20px  20px;
	}

    .modal-image {
        outline: none;
        display: block;
        margin-bottom: 30px;
    }

    .modal-text {
        font-size: 15px;
        line-height: 25px;

        .modal-title {
            margin-bottom: 20px;
        }
    }

    h4 {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 10px;

        a {
            text-decoration: none;
        }
    }

    .modal-info {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .product-info {

        li {
            font-size: 15px;
            line-height: 22px;
        }
    }

    .btn-friends {
        padding: 0;
        width: 200px;
        margin: 0 auto;
        list-style: none;

        li {
            margin-bottom: 18px;
        }

        .btn {
            width: 100%;
        }
    }

	.modal-next {
		padding-top: 50px;
		text-align: right;
	}

    @media (min-width: $screen-md-min) {
	    width: 430px;

	    &.friends-block {
		    width: 782px;
	    }

	    &.modal-city {
		    width: 860px;
	    }

	    &.modal-sm {
		    width: 590px;
	    }

	    .modal-header {
		    display: none;
	    }

	    .modal-body {
		    font-size: 19px;
		    line-height: 23px;
		    padding: 48px 48px;
        }

        .modal-border {
            width: 685px;
        }


        .btn-friends {
            padding: 0;
            width: auto;
            margin: 0 -6px;
            list-style: none;

            li {
                width: 20%;
                float: left;
                padding: 0 6px;
                margin-bottom: 0;
            }
        }
    }
}

.btn-close {
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url("../img/icon-close.png") 0 0 no-repeat;

	@media (min-width: $screen-sm-min) {
		top: 15px;
	}
}

.scroll-inner {
    position: relative;
    height: auto !important;
}


// Страница О компании

.about {

	font-size: 15px;
	line-height: 20px;
	padding-top: 40px;

	.about-content {
		max-width: 860px;
	}

	.about-nav {
		padding: 0;
		margin: 0 0 30px 0;
		list-style: none;

		li {
			margin-bottom: 10px;

			a {
				text-decoration: none;
				border-bottom: 1px dashed #007ED0;
			}

			&.active {

				a {
					border-bottom-color: transparent;
				}
			}
		}
	}

	.about-gallery {
		max-width: 860px;
		position: relative;
		padding-top: 20px;

		.about-slider {
			margin-bottom: 10px;

			.about-slider-item {
				border: none;
				outline: none;
			}
		}

		.about-thumbs {
			display: none;
			position: relative;

			.about-thumbs-item {
				border: none;
				outline: none;
				margin: 0 10px 10px 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 19px;
		line-height: 27px;

		.about-gallery {

			.about-thumbs {
				display: block;
			}
		}


		.about-nav {
			margin: 0 -12px 40px -12px;

			li {
				padding: 0 12px;
				margin-bottom: 20px;
				display: inline-block;
			}
		}
	}
}

.staff {
	padding-top: 25px;
	padding-bottom: 40px;
	background: #ECECEC;

	.container {
		position: relative;
	}

	.staff-slider {
		position: relative;
	}

	.staff-item {
		outline: none;
	}

	.staff-photo {
		max-width: 490px;
		margin: 0 auto 45px auto;
		border-bottom: 3px solid #b3b3b3;
	}

	.staff-text {
		font-size: 15px;
		line-height: 20px;
		max-width: 490px;
		margin: 0 auto;

		.staff-name {
			font-size: 22px;
			font-weight: 700;
			line-height: 32px;
		}


		.staff-position {
			margin-bottom: 25px;
		}

		p {
			margin-bottom: 10px;
		}


		.staff-item {
			outline: none;
		}
	}

	.staff-nav {
		top: 50%;
		right: 15px;
		width: 24px;
		height: 43px;
		display: none;
		cursor: pointer;
		margin-top: -22px;
		position: absolute;
		background: url("../img/arrow-next.png");
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 45px;
		padding-bottom: 0;

		.staff-slider {
			padding: 0 40px 0 0;
		}

		.staff-photo {
			float: left;
			margin: 0;
			width: 540px;
			max-width: inherit;
			border-bottom: none;

			.staff-photo-inner {
				width: 450px;
			}
		}

		.staff-text {
			float: left;
			width: 360px;
			max-width: inherit;
			font-size: 19px;
			line-height: 26px;
			padding-top: 60px;
			margin: 0;

			.staff-name {
				font-size: 45px;
				font-weight: 700;
				line-height: 48px;
				margin-bottom: 15px;

				span {
					display: block;
				}
			}

			.staff-position {
				margin-bottom: 50px;
			}
		}

		p {
			margin-bottom: 15px;
		}

		.staff-nav {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 45px;

		.staff-photo {
			width: 700px;
		}

	}
}

.evolution {
	padding-top: 40px;
	padding-bottom: 50px;

	h2 {
		font-size: 22px;
		line-height: 32px;
		margin-bottom: 40px;

		@media (min-width: $screen-sm-min) {

			font-size: 35px;
			line-height: 42px;
			margin-bottom: 60px;
		}
	}

	.evolution-responsive {
		overflow-y: hidden;
		overflow-x: scroll;
		padding-bottom: 15px;
	}

	.evolution-items {
		margin: 0;
		padding: 0;
		width: 940px;
		background: url("../img/evolution_line.png") 100% 200px no-repeat;

		li {
			width: 25%;
			float: left;
			padding-right: 50px;

			&:last-child {
				padding-right: 30px;
			}

			&.item1 {
				background: url("../img/evolution_01.png") 0 100px no-repeat;
			}

			&.item2 {
				background: url("../img/evolution_02.png") 0 100px no-repeat;
			}

			&.item3 {
				background: url("../img/evolution_03.png") 0 100px no-repeat;
			}

			&.item4 {
				background: url("../img/evolution_04.png") 0 100px no-repeat;
			}
		}
	}


	.evolution-year {
		font-size: 27px;
		font-weight: 700;
		line-height: 40px;
	}

	.evolution-title {
		height: 50px;
		font-size: 19px;
		line-height: 24px;
		margin-bottom: 155px;
	}

	.evolution-text {
		font-size: 16px;
		line-height: 24px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 110px;
		padding-bottom: 110px;

		.evolution-responsive {
			overflow-y: hidden;
			overflow-x: hidden;
			padding-bottom: 0;
		}

		.evolution-items {
			width: 940px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.evolution-items {
			width: 1160px;
		}
	}
}

// -------------------

// Главная

.bike-type {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	max-width: 560px;

	li {
		position: relative;
		margin-bottom: 10px;
		vertical-align: top;

		a {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			position: absolute;
			@include transition(.3s);

			&:hover {
				background: rgba(0,126,208, 0.7);

				.bike-detail {
				}
			}
		}
	}

	.bike-content {
		left: 0;
		right: 0;
		top: 50%;
		position: absolute;
		margin-top: -15px;
	}

	.bike-title {
		color: #fff;
		height: 30px;
		font-size: 22px;
		font-weight: 700;
		line-height: 30px;
		text-align: center;
	}

	.bike-detail {
		color: #fff;
		height: 20px;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {

		margin: 0 -15px;
		max-width: inherit;

		li {
			width: 50%;
			float: left;
			padding: 0 15px;
			margin-bottom: 30px;

			a {
				left: 15px;
				right: 15px;
			}
		}

		.bike-content {
			margin-top: -25px;
		}

		.bike-title {
			height: 50px;
			font-size: 40px;
			line-height: 50px;
		}

		.bike-detail {
			height: 30px;
			font-size: 20px;
			line-height: 30px;
		}
	}
}

.index-box-one {
	background: #fff;
	padding: 40px 0 40px 0;
}

.index-box-two {
	padding-top: 45px;
	background: url("../img/pattern_one.jpg");

	h2 {
		margin-bottom: 40px;
	}

	.img-block {
		max-width: 400px;
		margin: 0 auto;
	}

	.text-block {
		max-width: 400px;
		margin: 0 auto;
		text-align: center;
	}

	.download-box {
		margin-bottom: 30px;
	}

	.help-text {
		color: #9BC018;
		font-size: 15px;
		line-height: 30px;
	}

	.green-link {
		color: #007ED0;
	}

	@media (min-width: $screen-md-min) {

		h2 {
			margin-bottom: 60px;
		}

		.img-block {
			width: 430px;
			float: left;
			max-width: inherit;
			padding-top: 30px;
		}

		.text-block {
			float: right;
			width: 450px;
			text-align: left;
			padding-top: 70px;
			max-width: inherit;
			padding-bottom: 40px;
		}

		.download-box {
			margin-bottom: 40px;
		}

		.help-text {
			font-size: 20px;
			line-height: 30px;
			padding-top: 15px;
		}

		.green-link {
			color: #007ED0;
			font-size: 19px;
			line-height: 24px;
		}

	}
	@media (min-width: $screen-lg-min) {

		.img-block {
			margin-left: 100px;
		}
	}
}

.index-box-three {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #1d252e url("../img/index-block-three.png") 50% 50% no-repeat;
	background-size: cover;

	.h1 {
		color: #fff;
		margin-bottom: 50px;
	}

	.text {
		color: #fff;
		margin: 0 auto;
		max-width: 600px;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 110px;
		padding-bottom: 75px;
	}

	.h1 {
		margin-bottom: 80px;
	}

	.text {
		font-size: 19px;
		line-height: 22px;
	}
}

.text-tabs {

	.tabs-nav {
		padding: 30px 0 0 0;
		margin: 0;
		list-style: none;

		li {
			margin-bottom: 10px;

			a {
				text-decoration: none;
				border-bottom: 1px dashed #007ED0;
			}

			&.active {

				a {
					border-bottom-color: transparent;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.tabs-nav {
			margin: 0 -12px 40px -12px;

			li {
				padding: 0 12px;
				margin-bottom: 20px;
				display: inline-block;
			}
		}
	}
}


.bike {
	max-width: 700px;
	position: relative;
	margin: 0 auto 40px auto;


	.bike-inner {
		position: relative;
		margin-bottom: 10px;
	}

	.bike-point {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		position: absolute;

		ul {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			font-size: 0;
			line-height: 0;
			list-style: none;
			position: relative;
		}

		li {
			position: absolute;

			a {
				width: 22px;
				height: 22px;
				margin-top: -11px;
				margin-left: -11px;
				position: relative;
				display: inline-block;
				border: 3px solid #007ED0;
				@include border-radius(50%);
				background: #007ED0 url("../img/icon-plus.png") 50% 50% no-repeat;
			}

			.bike-text-item {
				display: none;
			}

			&.active {

				a {
					background: transparent;
				}

				.bike-text-item {
					display: none;
				}
			}

			&.item1 {
				top: 34.85%;
				left: 59.714%;
			}

			&.item2 {
				top: 35.95%;
				left: 46.814%;
			}

			&.item3 {
				top: 45.20%;
				left: 32.52%;
			}

			&.item4 {
				top: 42.50%;
				left: 74.70%;
			}

			&.item5 {
				top: 63.20%;
				left: 22.20%;
			}

			&.item6 {
				top: 65.80%;
				left: 44.60%;
			}

			&.item7 {
				top: 64.50%;
				left: 77.05%;
			}

			&.item8 {
				top: 77.80%;
				left: 9.60%;
			}
		}
	}


	.bike-text {
		color: #fff;
		z-index: 50;
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 10px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			z-index: 200;
			display: none;
			padding: 20px 25px;
			background: #141E29;
			@include border-radius(5px);

			&.active {
				display: block;
			}
		}

		.bike-text-title {
			font-size: 25px;
			font-weight: 700;
			line-height: 35px;
		}

		p {
			margin-bottom: 0;
		}
	}

	.bike-dots {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		text-align: center;

		li {
			padding: 0 3px;
			display: inline-block;

			a {
				width: 12px;
				height: 12px;
				display: inline-block;
				background: rgba(255,255,255, 0.4);
				@include border-radius(6px);
				@include transition(.3s);
			}

			&.active {

				a {
					width: 24px;
					background: rgba(255,255,255, 1);
					@include transition(.3s);
				}
			}
		}
	}

	.bike-slogan {
		right: 10%;
		top: 85%;
		color: #E8FF00;
		font-size: 20px;
		line-height: 30px;
		position: absolute;
		display: inline-block;
		@include rotate(-20deg);
		font-family: $font-second;
	}


	@media (min-width: $screen-md-min) {

		.bike-inner {
			margin-bottom: 0;
		}

		.bike-point {

			li {

				a {
					width: 28px;
					height: 28px;
					margin-top: -14px;
					margin-left: -14px;
				}

				&.active {

					.bike-text-item {
						display: block;
					}
				}
			}
		}


		.bike-text {
			display: none;

		}

		.bike-text-item {
			color: #fff;
			z-index: 600;
			display: none;
			width: 250px;
			height: 130px;
			font-size: 19px;
			line-height: 22px;
			margin-top: -180px;
			margin-left: -50px;
			padding: 20px 20px;
			position: relative;
			background: #141E29;
			@include border-radius(5px);

			&:before {
				left: 20px;
				top: 100%;
				content: '';
				width: 54px;
				height: 17px;
				position: absolute;
				background: url("../img/bike-text-bottom.png") 0 0 no-repeat;
			}

			.bike-text-title {
				font-size: 35px;
				line-height: 40px;
				margin-bottom: 5px;
				position: relative;
			}
		}

		.bike-dots {
			display: none;
		}

		.bike-slogan {
			right: 5%;
			top: 80%;
			font-size: 53px;
			line-height: 60px;
		}
	}
}


.form-row {
	padding: 0;
	margin: 0 -3px;
	list-style: none;

	li {
		padding: 0 3px;
		width: 18%;
		float: left;

		&:last-child {
			width: 28%;
		}
	}

	.btn {
		width: 100%;
	}
}


.post {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 60px;

	.post-image {
		margin-bottom: 15px;
	}

	h2 {
		font-size: 18px;
		line-height: 23px;
		margin-bottom: 10px;

		a {
			text-decoration: none;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom-color: #007ED0;
			}
		}
	}

	p {
		margin-bottom: 20px;
	}

	.post-meta {
		padding: 20px 12px 5px 12px;
	}

	.post-image-slider {
		position: relative;
		padding-top: 25px;
		margin-bottom: 20px;

		.post-image-item {
			border: none;
			outline: none;
		}
	}


	@media (min-width: $screen-md-min) {
		font-size: 19px;
		line-height: 27px;

		.post-image {
			margin-bottom: 20px;
		}

		h2 {
			font-size: 29px;
			line-height: 33px;
			margin-bottom: 20px;
		}

		.post-meta {
			padding: 20px 20px 5px 20px;
		}
	}
}

.post-meta {
	background: #F6FBFF;
	margin-bottom: 25px;
	padding: 20px 15px 20px 15px;
	@include border-radius(2px);

	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;
		padding: 20px 20px 0 20px;
	}
}

.post-date {
	color: #B4B4B4;
	font-size: 12px;
	line-height: 14px;
	padding: 2px 0;
	margin-right: 25px;
	margin-bottom: 15px;
	display: inline-block;

	@media (min-width: $screen-md-min) {
		font-size: 16px;
		line-height: 20px;
		padding: 4px 0;
	}
}

.post-tags {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -5px 15px -5px;

	li {
		padding: 0 5px;
		margin-bottom: 8px;
		display: inline-block;

		a {
			font-size: 12px;
			line-height: 14px;
			padding: 2px 9px;
			background: #e5f4fe;
			display: inline-block;
			text-decoration: none;
			@include border-radius(3px);

			&:hover {
				background: #cbeafe;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		display: inline-block;

		li {

			a {
				font-size: 16px;
				line-height: 20px;
				padding: 4px 12px;
			}
		}
	}
}

.post-back {
	font-size: 15px;
	line-height: 18px;
	padding-left: 30px;
	display: inline-block;
	background: url("../img/icon-arrow-back.png") 0 50% no-repeat;

	@media (min-width: $screen-md-min) {
		font-size: 19px;
		line-height: 23px;
	}
}

.news {

	.news-toggle {
		top: 130px;
		right: 0;
		width: 29px;
		height: 70px;
		cursor: pointer;
		position: fixed;
		display: inline-block;
	}

	.news-filter {
		top: 0;
		right: 0;
		width: 300px;
		z-index: 1000;
		background: #fff;
		position: absolute;
		padding: 40px 40px;
		@include box-shadow(-2px 0px 5px 0px rgba(0, 0, 0, 0.15));

		.news-filter-close {
			top: 40px;
			right: 20px;
			content: '';
			width: 59px;
			height: 63px;
			height: 63px;
			cursor: pointer;
			position: absolute;
			background: url("../img/filter-open.png") 0 0 no-repeat;
		}

		.news-filter-title {
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			padding-right: 70px;
			margin-bottom: 50px;
		}

		.tags {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			margin: 0 -3px 30px -3px;

			li {
				padding: 0 3px;
				margin-bottom: 5px;
				display: inline-block;
			}

			label {
				position: relative;
				display: inline-block;
			}

			.icr-hidden {
				display: none;
			}


			.icr-text {
				color: #097ece;
				cursor: pointer;
				font-size: 15px;
				font-weight: 400;
				line-height: 20px;
				padding: 1px 5px;
				position: relative;
				display: inline-block;
				background: transparent;
				@include border-radius(3px);
				border: 1px solid transparent;
			}

			.icr-label {
				.icr-text {

					&:after,
					&:before {
						display: none !important;
					}
				}
			}

			.checked {

				.icr-text {
					border-color: #87ccfe;
					background: #d9f5ff;
				}
			}
		}

		.news-filter-button {
			margin-bottom: 30px;
		}

		.news-filter-all {
			font-size: 16px;
			line-height: 20px;
		}
	}

	@media (min-width: $screen-md-min) {


		.news-toggle {
			display: none;
		}

		.news-filter {
			width: 100%;
			top: auto;
			right: auto;
			position: inherit;
			background: #f5faff;
			padding: 30px 30px;
			@include box-shadow(none);

			.news-filter-close {
				display: none;
			}

			.news-filter-title {
				padding-right: 0;
			}

			.news-filter-button {
				display: none;
			}

			.tags {
				margin-bottom: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid #addafe;


			}
		}

		.news-body {
			float: left;
			width: 680px;
		}

		.news-side {
			float: right;
			width: 200px;
		}

		&.news-single {

			.news-body {
				width: 840px;
				float: inherit;
			}

			.news-side {
				width: 840px;
				float: inherit;
			}
		}

	}

	@media (min-width: $screen-lg-min) {

		.news-body {
			width: 860px;
		}

		.news-side {
			width: 240px;
		}

		&.news-single {

			.news-body {
				float: left;
				width: 860px;
			}

			.news-side {
				float: right;
				width: 240px;
			}
		}
	}

}

.news-block {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 60px;
	border-top: 1px solid #D4D4D4;

	.news-block-slider {
		margin: 0 auto;
		max-width: 600px;


		.news-block-item {
			border: none;
			outline: none;
			padding: 0 0 10px 0;
		}

		.news-block-image {
			display: block;
			margin-bottom: 15px;
		}

		.news-block-date {
			color: #B4B4B4;
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 5px;
		}

		h4 {
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;

			a {
				text-decoration: none;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 80px;
		padding-bottom: 80px;


		.news-block-slider {
			max-width: inherit;


			.news-block-item {
				padding: 0 15px 15px 15px;
			}

			.news-block-image {
				margin-bottom: 10px;
			}

			h4 {
				font-size: 20px;
				line-height: 26px;
			}
		}
	}
}

// Партреры

.partners {

	.partners-body {
		max-width: 300px;
		margin: 0 auto 20px auto;
		border: 1px solid #dcdcdc;
	}

	.partners-row {


		.partners-item {
			padding: 30px;
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.partners-logo {
		width: 160px;
		margin: 0 auto 30px auto;
	}

	h4 {
		font-size: 21px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 0;
	}

	p {
		font-size: 16px;
		line-height: 24px;
	}


	.partners-nav {
		margin: 0;
		padding: 20px 0 0 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		li {
			width: 12px;
			height: 12px;
			margin: 0 3px;
			overflow: hidden;
			display: inline-block;
			@include transition(0.3s);

			a {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				border: none;
				outline: none;
				cursor: pointer;
				display: inline-block;
				background: rgba(29,27,36, 0.5);
				@include border-radius(6px);
				@include transition(0.3s);
			}

			&.active {
				width: 24px;
				@include transition(0.3s);

				a {
					background: rgba(29,27,36, 1);
					@include transition(0.3s);
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.partners-body {
			border: none;
			margin: 0 -15px;
			max-width: inherit;
		}

		.partners-row {
			width: 100%;
			display: table;
			margin-bottom: 30px;
			border-collapse: separate;

			.partners-item {
				width: 33.33%;
				padding: 40px 50px;
				display: table-cell;
				position: relative;

				&.active {
					display: table-cell;
				}

				&:before {
					top: 0;
					left: 15px;
					right: 15px;
					bottom: 0;
					content: '';
					position: absolute;
					border: 1px solid #dcdcdc;
				}
			}
		}

		.partners-nav {
			display: none;
		}
	}
}

.link-next {
	line-height: 20px;
	padding-right: 30px;
	display: inline-block;
	background: url("../img/pagination-next.png") 100% 50% no-repeat;
}
