.slider {
    height: 300px;
    overflow: hidden;

    .slider-item {
        height: 300px;
        outline: none;
        padding-top: 35px;
        position: relative;

        &.item1 {
            background: url("../img/index-slide-01.jpg") 50% 50% no-repeat;
            background-size: cover;
        }
    }

    .heading {

        .heading-primary {
            color: #fff;
            font-size: 35px;
            font-weight: 700;
            line-height: 1.1;
        }


        .heading-second {
            right: 30px;
            bottom: 60px;
            color: #E8FF00;
            font-size: 26px;
            line-height: 30px;
            position: absolute;
            display: inline-block;
            @include rotate(-20deg);
            font-family: $font-second;
        }
    }

    .slider-text {
        color: #fff;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 70px;
    }

    .slick-dots {
        left: 0;
        right: 0;
        bottom: 10px;
        position: absolute;

        li {

            button {
                background: rgba(255,255,255, 0.4);
            }

            &.slick-active {

                button {
                    background: rgba(255,255,255, 1);
                }
            }
        }
    }
 

    @media (min-width: $screen-md-min) {
        height: 600px;

        .slider-item {
            height: 600px;
            padding-top: 110px;
        }

        .heading {
            position: relative;
            margin-bottom: 20px;
            display: inline-block;

            .heading-primary {
                font-size: 60px;
            }

            .heading-second {
                top: 80%;
                left: 100%;
                right: auto;
                bottom: auto;
                font-size: 72px;
                line-height: 80px;
            }
        }

        .slider-text {
            font-size: 23px;
            line-height: 30px;
            margin-bottom: 125px;
        }

        .slick-dots {
            left: 50%;
            width: 960px;
            bottom: 260px;
            text-align: left;
            margin-left: -470px;
        }
    }

    @media (min-width: $screen-lg-min) {

        .slick-dots {
            width: 1160px;
            margin-left: -580px;
        }
    }
}


.slick-dots {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: center;

    li {
        width: 12px;
        height: 12px;
        margin: 0 3px;
        overflow: hidden;
        display: inline-block;
        @include transition(0.3s);

        button {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            cursor: pointer;
            display: inline-block;
            background: rgba(29,27,36, 0.5);
            @include border-radius(6px);
            @include transition(0.3s);
        }

        &.slick-active {
            width: 24px;
            @include transition(0.3s);

            button {
                background: rgba(29,27,36, 1);
                @include transition(0.3s);
            }
        }
    }
}
