// Warranty


.warranty-header {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 40px;
	background: url("../img/warranty-header.jpg") 50% 50% no-repeat;

	.breadcrumbs {
		margin-bottom: 20px;

		li {
			color: #fff;
			background: url("../img/pagination_arrow_white.png") 100% 50% no-repeat;

			&:last-child {
				background: none;
			}

			a {
				color: #fff;
			}
		}
	}

	.heading {
		max-width: 560px;
		font-size: 30px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 30px;
	}

	.warranty-advantage {
		margin: 0;
		list-style: none;
		padding: 85px 0 0 0;

		li {
			margin-bottom: 20px;
		}

		.warranty-value {
			font-size: 25px;
			font-weight: 700;
			line-height: 30px;
		}

		.warranty-legend {
			font-size: 15px;
			line-height: 20px;
		}
	}

	@media (min-width: $screen-sm-min) {

		height: 690px;
		padding-top: 45px;

		.breadcrumbs {
			margin-bottom: 50px;
		}

		.heading {
			font-size: 45px;
			line-height: 54px;
			margin-bottom: 35px;
		}

		.warranty-advantage {
			padding-top: 110px;
			width: 100%;
			display: table;

			li {
				display: table-cell;
				vertical-align: top;
				padding-right: 70px;
			}

			.warranty-value {
				font-size: 60px;
				line-height: 72px;
			}

			.warranty-legend {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.links {
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -15px;
	padding: 40px 0 50px 0;

	li {
		display: inline-block;
		padding: 0 15px 20px 15px;

		a {
			color: #007ED0;
			font-size: 18px;
			line-height: 23px;
			text-decoration: none;
			border-bottom: 1px dotted #007ED0;

			&:hover {
				border-bottom: transparent;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 130px;

		li {

			a {
				font-size: 23px;
				line-height: 42px;
			}
		}
	}
}

.warranty-block {
	font-size: 15px;
	line-height: 20px;
	position: relative;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		content: '';
		display: block;
		position: absolute;
	}

	.container {
		z-index: 50;
		position: relative;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 19px;
		line-height: 26px;

		&:before {
			display: none;
		}
	}
}


.warranty-block-one {
	padding-top: 40px;
	padding-bottom: 70px;
	background: #f0eef1 url("../img/warranty-block_01.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		background: rgba(239,238,241, 0.9);
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 140px;
	}

	@media (min-width: $screen-lg-min) {
		height: 483px;
		background-size: auto auto;
	}
}

.warranty-block-two {
	padding-top: 40px;
	padding-bottom: 80px;
	background: #fff url("../img/warranty-block_02.jpg") 0 0 no-repeat;

	&:before {
		background: rgba(255,255,255, 0.9);
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 90px;
		background-position: 50% 0;
	}

	@media (min-width: $screen-lg-min) {
		height: 676px;
		background-size: auto auto;
	}
}

.warranty-block-three {
	padding-top: 40px;
	padding-bottom: 80px;
	background: #f0eef1 url("../img/warranty-block_03.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		background: rgba(239,238,241, 0.9);
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 140px;
	}

	@media (min-width: $screen-lg-min) {
		height: 500px;
		background-size: auto auto;
	}
}


