.breadcrumbs {
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0 0 15px 0;

    li {
        color: #007ED0;
        font-size: 12px;
        line-height: 20px;
        position: relative;
        padding-right: 25px;
        margin-right: 5px;
        display: inline-block;
        background: url("../img/pagination_arrow.png") 100% 50% no-repeat;

        &:last-child {
            margin-right: 0;
            padding-right: 0;
            background: none;
        }

        a {
            color: #007ED0;
            text-decoration: none;
        }
    }

    @media (min-width: $screen-sm-min) {
        margin: 0 0 25px 0;

        li {
            font-size: 15px;
        }
    }
}