.btn {
	margin:0;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	padding: 12px 28px;
	text-align: center;
	position: relative;
	background: #9BC018;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 3px solid transparent;
	border-bottom-color: #86A514;
	@include border-radius(2px);

	&:hover {
		color: #fff;
		background: #82A600;
		text-decoration: none;
		border-bottom-color: #688500;
	}

	&:focus {
		text-decoration: none;
	}

	&:active {
		color: #fff;
		background: #82A600;
		border-bottom-color: transparent;
		border-top-color: #688500;
	}
}

.btn-md {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	padding: 11px 10px;

	i {
		font-size: 18px;
		margin-right: 5px;
	}
}

.btn-sm {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 10px;

	i {
		font-size: 18px;
		margin-right: 5px;
	}
}


.btn-blue {
	margin:0;
	color: #007ED0;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding: 5px 12px;
	text-align: center;
	position: relative;
	background: #d6f1ff;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(2px);

	&:hover {
		color: #007ED0;
		background: #cbeafe;
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}

	&:active {
		color: #007ED0;
		background: #9cd4fe;
	}
}

.btn-blue-md {
	font-size: 19px;
	line-height: 21px;
	padding: 17px 35px;
}

.btn-transparent {
	margin:0;
	color: #007ED0;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 6px 12px;
	text-align: center;
	position: relative;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	touch-action: manipulation;

	&:hover {
		color: #007ED0;
		background: transparent;
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}

	&:active {
		color: #007ED0;
		background: transparent;
	}
}

.btn-view {
	margin:0 0 15px 0;
	color: #007ED0;
	outline: none;
	width: 100%;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	padding: 9px 20px;
	text-align: center;
	position: relative;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 1px solid #e1e1e1;

	&:hover {
		color: #007ED0;
		background: #e5f5ff;
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}

	&:active {
		color: #007ED0;
		background: #bfe6ff;
	}
}


.btn-fb {
	background: #0877c2;
	border-bottom-color: #045b95;


	&:hover {
		background: #0c91ee;
		border-bottom-color: #0a81d4;
	}

	&:active {
		background: #0877c2;
		border-top-color: #045b95;
		border-bottom-color: transparent;
	}
}

.btn-vk {
	background: #0c91ee;
	border-bottom-color: #0a81d4;


	&:hover {
		background: #37affd;
		border-bottom-color: #2d8fcf;
	}

	&:active {
		background: #37affd;
		border-top-color: #2d8fcf;
		border-bottom-color: transparent;
	}
}

.btn-tw {
	background: #37affd;
	border-bottom-color: #2d8fcf;


	&:hover {
		background: #57bdff;
		border-bottom-color: #2d8fcf;
	}

	&:active {
		background: #57bdff;
		border-top-color: #2d8fcf;
		border-bottom-color: transparent;
	}
}

.btn-ok {
	background: #feb42d;
	border-bottom-color: #b9831f;


	&:hover {
		background: #fdb83c;
		border-bottom-color: #b9831f;
	}

	&:active {
		background: #fdb83c;
		border-top-color: #b9831f;
		border-bottom-color: transparent;
	}
}

.btn-gp {
	background: #cf2a02;
	border-bottom-color: #8e1c01;


	&:hover {
		background: #fc2a00;
		border-bottom-color: #cf2a02;
	}

	&:active {
		background: #fc2a00;
		border-top-color: #cf2a02;
		border-bottom-color: transparent;
	}
}
