fieldset {
	padding: 0;
	border: none;
	outline: none;
	margin-bottom: 30px;

	legend {
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 15px;
	}

	@media (min-width: $screen-sm-min) {

		legend {
			font-size: 23px;
			line-height: 25px;
		}
	}
}


.form-control {
	margin: 0;
	width: 100%;
	color: #b4b4b4;
	outline: none;
	font-size: 16px;
	line-height: 20px;
	padding: 13px 10px;
	display: inline-block;
	background: #fff;
	border: 1px solid #ececec;
	@include placeholder(#b4b4b4);
	@include border-radius(2px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #000;
		background: #fff;
		border-color: #000;
		@include placeholder(transparent);
	}
}


.red {

	.form-control {
		border-color: #ff0000;
	}
}

label {
	font-weight: 400;
	display: block;
}

.form-label {
	color: #b4b4b4;
	font-size: 15px;
	text-align: left;
	line-height: 16px;
	margin-bottom: 5px;

	span {

	}


	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;
		margin-bottom: 0;

		span {
			width: 100%;
			height: 48px;
			display: table-cell;
			vertical-align: middle;
		}

	}
}

.form-group {
	margin-bottom: 10px;
}

.form-checkbox {
	margin-bottom: 10px;
}

.icr-label {

	.icr-text {
		font-size: 15px;
		font-weight: 400;
		line-height: 26px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding-left: 30px;

		&:before {
			left: 0;
			top: 1px;
			content: '';
			width: 23px;
			height: 20px;
			display: block;
			background: #fff;
			position: absolute;
			border: 1px solid #d5d5d5;
			@include border-radius(2px);
		}
	}

	&.checked {

		.icr-text {

			&:before {
				border-color: #87c6ff;
				background: #d9f5ff;
			}

			&:after {
				left: 5px;
				top: -2px;
				content: '';
				width: 20px;
				height: 20px;
				display: block;
				background: url("../img/icon-check.png") 0 0 no-repeat;
				position: absolute;
				@include border-radius(2px);
			}
		}
	}

	label {
		display: block;
		position: relative;
	}

	.icr-hidden {
		display: none;
	}
}

.form-search {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	color: #B4B4B4;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	background: transparent url("../img/icon-search.png") 0 50% no-repeat;
	padding: 5px 10px 5px 20px;
	@include placeholder(#B4B4B4);
	border-bottom: 1px solid #f1f1f1;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.form-radio {

	.icr-label {

		.icr-text {
			font-size: 15px;
			font-weight: 400;
			line-height: 26px;
			cursor: pointer;
			display: inline-block;
			position: relative;
			padding-left: 30px;

			&:before {
				left: 0;
				top: 3px;
				content: '';
				width: 16px;
				height: 16px;
				display: block;
				background: #fff;
				position: absolute;
				border: 1px solid #d9d9d9;
				@include border-radius(50%);
			}
		}

		&.checked {

			.icr-text {

				&:before {
					border-color: #87ccfe;
					background: #d9f5ff;
				}

				&:after {
					left: 3px;
					top: 6px;
					content: '';
					width: 10px;
					height: 10px;
					display: block;
					position: absolute;
					background: #87ccfe;
					@include border-radius(50%);
				}
			}
		}
	}
}



// Secect box

.select-main {
	display: block;
	width: 100%;
	@include box-shadow(1px 1px 8px 0px rgba(0, 0, 0, 0.3));

	.select-main-link {
		margin: 0;
		width: 100%;
		color: #1D252E;
		outline: none;
		font-size: 19px;
		cursor: pointer;
		line-height: 24px;
		position: relative;
		background: #fff;
		padding: 15px 50px 15px 20px;
		display: inline-block;
		@include placeholder(#1D252E);
		@include border-radius(3px);

		&:before {
			top: 25px;
			z-index: 40;
			right: 15px;
			content: ' ';
			width: 20px;
			height: 10px;
			position: absolute;
			background: #fff url("../img/select-arrow.png") 100% 50% no-repeat;
		}
	}

	.ik_select_link_text {
		overflow: hidden;
	}
}

.ik_select_dropdown {
	background: #fff;
	@include box-shadow(1px 1px 8px 0px rgba(0, 0, 0, 0.3));

	.ik_select_list_inner {

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				color: #1D252E;
				font-size: 16px;
				line-height: 24px;
				cursor: pointer;
				padding: 10px 20px;
				background: #fff;

				&:hover {
					color: #1D252E;
					background: #c0c0c0;
				}

			}
		}
	}
}



