.pagination {
    margin: 0 -2px 50px 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: center;

    li {
        width: 36px;
        height: 36px;
        margin: 0 2px 5px 2px;
        display: inline-block;

        &.begin {
            width: 104px;
            display: none;
            margin-right: 18px;
        }

        &.prev {
            width: 56px;

            a {
               // background: #ebf6fe url("../img/pagination-prev.png") 50% 50% no-repeat;
            }
        }

        &.next {
            width: 56px;

            a {
              //  background: #ebf6fe url("../img/pagination-next.png") 50% 50% no-repeat;
            }
        }

        a {
            width: 100%;
            height: 100%;
            color: #007ED0;
            padding: 5px 0;
            font-size: 15px;
            cursor: pointer;
            line-height: 24px;
            text-align: center;
            background: #ebf6fe;
            display: inline-block;
            text-decoration: none;
            border: 1px solid transparent;
            @include border-radius(2px);

            &:hover {
                background-color: #cae8ff;
            }
        }

        &.active {

            a {
                color: #B4B4B4;
                cursor: default;
                background-color: #fff;
                border-color: #B4B4B4;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        li {
            &.begin {
                display: inline-block;
            }
        }
    }
}